{
  "openapi": "3.1.0",
  "info": {
    "title": "GistMag API",
    "description": "AI-powered API for alt text, speech, blog metadata and site audits.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.gistmag.co.uk",
      "description": "GistMag API Production Server"
    }
  ],
  "paths": {
    "/generate": {
      "post": {
        "summary": "Generate Alt Text",
        "description": "Generate alt text for a single image",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltTextResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/atg/generate": {
      "post": {
        "summary": "Generate Alt Text (ATG)",
        "description": "Generate alt text using the ATG endpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltTextResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/batch": {
      "post": {
        "summary": "Batch Generate Alt Text",
        "description": "Generate alt text for multiple images in a single request",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              },
              "example": {
                "api_key": "atg_your_api_key_here",
                "images": [
                  {
                    "image_url": "https://example.com/image1.jpg",
                    "mode": "short"
                  },
                  {
                    "image_url": "https://example.com/image2.jpg",
                    "mode": "long"
                  },
                  {
                    "image_url": "https://example.com/image3.jpg",
                    "mode": "seo"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                },
                "example": {
                  "results": [
                    {
                      "alt_text": "A beautiful sunset over the ocean",
                      "short_alt_text": "Sunset over ocean",
                      "long_alt_text": "A beautiful sunset over the ocean with orange and pink hues reflecting on the water",
                      "seo_alt_text": "Sunset over ocean - beach photography - nature scene",
                      "image_url": "https://example.com/image1.jpg",
                      "generated_at": "2024-01-15T10:30:00Z"
                    },
                    {
                      "alt_text": "A detailed description of a mountain landscape",
                      "image_url": "https://example.com/image2.jpg",
                      "generated_at": "2024-01-15T10:30:05Z"
                    }
                  ],
                  "total": 2,
                  "successful": 2,
                  "failed": 0
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/usage": {
      "get": {
        "summary": "Get Usage Statistics (GET)",
        "description": "Get usage statistics using GET method",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your GistMag API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Get Usage Statistics (POST)",
        "description": "Get usage statistics using POST method",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "Your GistMag API key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/verify-key": {
      "post": {
        "summary": "Verify API Key",
        "description": "Verify that an API key is valid",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "The API key to verify"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyKeyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/seo/audit": {
      "post": {
        "summary": "Run Site Audit",
        "description": "Run a site audit for a given URL with scores for performance, accessibility, best practices, and SEO.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key",
                  "url"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "Your GistMag API key"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The page URL to audit"
                  },
                  "include_screenshot": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to include a base64 screenshot of the hero area"
                  },
                  "source": {
                    "type": "string",
                    "enum": [
                      "web",
                      "api",
                      "extension",
                      "wordpress",
                      "shopify",
                      "batch",
                      "tts"
                    ],
                    "default": "web",
                    "description": "Source identifier for tracking usage"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteAuditResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/indexing/jobs": {
      "post": {
        "summary": "Create Indexing Job",
        "description": "Create a new indexing job (check or submit) for up to 10,000 URLs. Charges 1 credit per URL.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IndexingCreateJobRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "job_id",
                    "type",
                    "total_urls",
                    "status"
                  ],
                  "properties": {
                    "job_id": {
                      "type": "string",
                      "description": "ID of the created job"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "check",
                        "submit"
                      ]
                    },
                    "total_urls": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "submitted_count": {
                      "type": "integer",
                      "nullable": true,
                      "description": "submit jobs only: URLs accepted by IndexNow"
                    },
                    "failed_count": {
                      "type": "integer",
                      "nullable": true,
                      "description": "submit jobs only: URLs IndexNow rejected"
                    },
                    "engines": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "submit jobs only: engines notified"
                    },
                    "results": {
                      "type": "array",
                      "description": "submit jobs only: one entry per domain in the job",
                      "items": {
                        "type": "object",
                        "properties": {
                          "host": {
                            "type": "string"
                          },
                          "urls": {
                            "type": "integer"
                          },
                          "ok": {
                            "type": "boolean"
                          },
                          "status_code": {
                            "type": "integer",
                            "nullable": true
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Indexing Jobs",
        "description": "List indexing jobs for the authenticated user.",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your GistMag API key"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "check",
                "submit"
              ]
            },
            "description": "Filter by job type"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Number of jobs to return (default 20)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Offset for pagination (default 0)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IndexJob"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/indexing/jobs/{job_id}": {
      "get": {
        "summary": "Get Indexing Job",
        "description": "Get a single indexing job summary for the authenticated user.",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the indexing job"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your GistMag API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Job details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexJob"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/indexing/jobs/{job_id}/urls": {
      "get": {
        "summary": "List URLs in Indexing Job",
        "description": "List URLs and results for a specific indexing job.",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the indexing job"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your GistMag API key"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "processing",
                "done",
                "failed"
              ]
            },
            "description": "Filter by URL status"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "description": "Number of rows to return (default 100)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Offset for pagination (default 0)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of job URLs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IndexJobUrl"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/indexing/jobs/{job_id}/export": {
      "get": {
        "summary": "Export Indexing Job as CSV",
        "description": "Export all URLs and results for an indexing job as CSV.",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the indexing job"
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your GistMag API key"
          }
        ],
        "responses": {
          "200": {
            "description": "CSV export",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/indexing/indexnow/keys": {
      "post": {
        "summary": "Register a domain for Index Submit",
        "description": "Generate an IndexNow key for a domain and return the key file to upload. The domain is not usable until it is verified.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key",
                  "domain"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "Your GistMag API key"
                  },
                  "domain": {
                    "type": "string",
                    "description": "Domain to register, e.g. example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Key created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "host": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string"
                    },
                    "key_location": {
                      "type": "string",
                      "description": "Where the key file must be uploaded"
                    },
                    "verified": {
                      "type": "boolean"
                    },
                    "instructions": {
                      "type": "object",
                      "properties": {
                        "filename": {
                          "type": "string"
                        },
                        "file_contents": {
                          "type": "string"
                        },
                        "upload_to": {
                          "type": "string"
                        },
                        "next_step": {
                          "type": "string"
                        }
                      }
                    },
                    "engines": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Invalid domain"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "summary": "List registered domains",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Registered domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "host": {
                            "type": "string"
                          },
                          "key": {
                            "type": "string"
                          },
                          "key_location": {
                            "type": "string"
                          },
                          "verified": {
                            "type": "boolean"
                          },
                          "verified_at": {
                            "type": "string",
                            "nullable": true
                          },
                          "last_error": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "engines": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorized"
          }
        }
      }
    },
    "/indexing/indexnow/keys/verify": {
      "post": {
        "summary": "Verify a domain's key file",
        "description": "Fetch the key file from the domain's site root and confirm it matches. Only verified domains can be submitted.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key",
                  "domain"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "Your GistMag API key"
                  },
                  "domain": {
                    "type": "string",
                    "description": "Domain to register, e.g. example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "host": {
                      "type": "string"
                    },
                    "verified": {
                      "type": "boolean"
                    },
                    "key_location": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Key file missing, unreachable, or does not match"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "No key registered for this domain"
          }
        }
      }
    },
    "/indexing/indexnow/keys/{key_id}": {
      "delete": {
        "summary": "Remove a registered domain",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GenerateRequest": {
        "type": "object",
        "required": [
          "image_url",
          "api_key"
        ],
        "properties": {
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "The URL of the image to generate alt text for"
          },
          "api_key": {
            "type": "string",
            "description": "Your GistMag API key"
          },
          "mode": {
            "type": "string",
            "enum": [
              "short",
              "long",
              "seo"
            ],
            "default": "short",
            "description": "The length of alt text to generate"
          },
          "language": {
            "type": "string",
            "default": "en",
            "description": "Language code (e.g., en, es, fr)"
          },
          "source": {
            "type": "string",
            "enum": [
              "web",
              "api",
              "extension",
              "wordpress",
              "shopify",
              "batch"
            ],
            "default": "api",
            "description": "Source identifier for tracking"
          }
        }
      },
      "BatchRequest": {
        "type": "object",
        "required": [
          "images",
          "api_key"
        ],
        "properties": {
          "images": {
            "type": "array",
            "minItems": 1,
            "maxItems": 500,
            "items": {
              "type": "object",
              "required": [
                "image_url"
              ],
              "properties": {
                "image_url": {
                  "type": "string",
                  "format": "uri",
                  "description": "The URL of the image"
                },
                "mode": {
                  "type": "string",
                  "enum": [
                    "short",
                    "long",
                    "seo"
                  ],
                  "default": "short",
                  "description": "The length of alt text for this specific image"
                },
                "language": {
                  "type": "string",
                  "default": "en",
                  "description": "Language code for this specific image"
                },
                "source": {
                  "type": "string",
                  "enum": [
                    "web",
                    "api",
                    "extension",
                    "wordpress",
                    "shopify",
                    "batch"
                  ],
                  "description": "Source identifier for tracking"
                }
              }
            }
          },
          "api_key": {
            "type": "string",
            "description": "Your GistMag API key"
          }
        }
      },
      "AltTextResponse": {
        "type": "object",
        "properties": {
          "alt_text": {
            "type": "string",
            "description": "The generated alt text based on the selected mode"
          },
          "short_alt_text": {
            "type": "string",
            "description": "Short version of alt text"
          },
          "long_alt_text": {
            "type": "string",
            "description": "Long version of alt text"
          },
          "seo_alt_text": {
            "type": "string",
            "description": "SEO-optimized version of alt text"
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "The original image URL"
          },
          "generated_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO timestamp of when the alt text was generated"
          }
        }
      },
      "BatchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "description": "Array of alt text responses for each image",
            "items": {
              "$ref": "#/components/schemas/AltTextResponse"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of images processed"
          },
          "successful": {
            "type": "integer",
            "description": "Number of successfully processed images"
          },
          "failed": {
            "type": "integer",
            "description": "Number of images that failed to process"
          }
        }
      },
      "SiteAuditResponse": {
        "type": "object",
        "properties": {
          "audit_id": {
            "type": "string",
            "description": "Unique ID for this audit run"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Final URL after redirects"
          },
          "requested_url": {
            "type": "string",
            "format": "uri",
            "description": "URL as originally requested"
          },
          "overall_score": {
            "type": "integer",
            "description": "Overall score from 0 to 100"
          },
          "categories": {
            "type": "object",
            "description": "Category-level scores and issues",
            "properties": {
              "performance": {
                "$ref": "#/components/schemas/SiteAuditCategory"
              },
              "accessibility": {
                "$ref": "#/components/schemas/SiteAuditCategory"
              },
              "best_practices": {
                "$ref": "#/components/schemas/SiteAuditCategory"
              },
              "seo": {
                "$ref": "#/components/schemas/SiteAuditCategory"
              }
            }
          },
          "issues": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Flattened list of issues with category prefixes"
          },
          "highlights": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "High-level positives across categories"
          },
          "recommendations": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Short next-step recommendations based on the score"
          },
          "metrics": {
            "type": "object",
            "description": "On-page metrics such as title, meta description, headings, links, word count, indexability, etc."
          },
          "performance": {
            "type": "object",
            "properties": {
              "load_time_ms": {
                "type": "integer",
                "nullable": true
              },
              "dom_content_loaded_ms": {
                "type": "integer",
                "nullable": true
              },
              "time_to_first_byte_ms": {
                "type": "integer",
                "nullable": true
              }
            }
          },
          "screenshot_base64": {
            "type": "string",
            "nullable": true,
            "description": "Optional base64 hero screenshot (PNG) when include_screenshot is true"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO timestamp when the audit was created"
          }
        }
      },
      "SiteAuditCategory": {
        "type": "object",
        "properties": {
          "score": {
            "type": "integer",
            "description": "Category score from 0 to 100"
          },
          "issues": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Issues impacting this category"
          },
          "positives": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Strengths detected for this category"
          }
        }
      },
      "UsageResponse": {
        "type": "object",
        "properties": {
          "total_requests": {
            "type": "integer",
            "description": "Total number of API requests made"
          },
          "total_credits_used": {
            "type": "integer",
            "description": "Total credits consumed"
          },
          "requests_this_month": {
            "type": "integer",
            "description": "Number of requests made this month"
          },
          "credits_used_this_month": {
            "type": "integer",
            "description": "Credits used this month"
          },
          "subscription_tier": {
            "type": "string",
            "description": "Your current subscription tier"
          },
          "credits_remaining": {
            "type": "integer",
            "description": "Credits remaining in your account"
          },
          "usage_by_endpoint": {
            "type": "object",
            "description": "Breakdown of usage by endpoint"
          }
        }
      },
      "VerifyKeyResponse": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean",
            "description": "Whether the API key is valid"
          },
          "subscription_tier": {
            "type": "string",
            "description": "The subscription tier associated with this API key"
          },
          "user_id": {
            "type": "string",
            "description": "The user ID associated with this API key"
          }
        }
      },
      "IndexingCreateJobRequest": {
        "type": "object",
        "required": [
          "api_key",
          "type",
          "urls"
        ],
        "properties": {
          "api_key": {
            "type": "string",
            "description": "Your GistMag API key"
          },
          "type": {
            "type": "string",
            "enum": [
              "check",
              "submit"
            ],
            "description": "Job type: 'check' (Google Search coverage, via the Apify index checker) or 'submit' (notify Bing, Yandex, Seznam and Naver via IndexNow)"
          },
          "urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "maxItems": 10000,
            "description": "List of URLs to check or submit. For 'submit', the 10,000 limit applies per domain and every domain must be verified first."
          },
          "source": {
            "type": "string",
            "enum": [
              "web",
              "api",
              "extension",
              "wordpress",
              "shopify",
              "batch",
              "tts"
            ],
            "description": "Optional source identifier for tracking usage"
          }
        }
      },
      "IndexJob": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Job ID"
          },
          "type": {
            "type": "string",
            "enum": [
              "check",
              "submit"
            ]
          },
          "total_urls": {
            "type": "integer"
          },
          "processed_urls": {
            "type": "integer"
          },
          "indexed_count": {
            "type": "integer",
            "nullable": true,
            "description": "Number of URLs marked as indexed (check jobs only)"
          },
          "submitted_count": {
            "type": "integer",
            "nullable": true,
            "description": "Number of URLs successfully submitted (submit jobs only)"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "running",
              "complete",
              "failed"
            ]
          },
          "error_message": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "IndexJobUrl": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "description": "URL that was checked or submitted"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "done",
              "failed"
            ]
          },
          "is_indexed": {
            "type": "boolean",
            "nullable": true,
            "description": "true/false when we have a definitive answer, null when unknown (e.g. rate-limited)"
          },
          "google_status": {
            "type": "string",
            "nullable": true,
            "description": "Raw status from Google Indexing API (submit jobs) or null"
          },
          "raw_result": {
            "type": "object",
            "nullable": true,
            "description": "Provider-specific raw result",
            "properties": {
              "reason": {
                "type": "string",
                "description": "Optional classification: indexed / not_indexed / rate_limited / error"
              },
              "proofUrl": {
                "type": "string",
                "description": "One result URL used as proof for is_indexed"
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error type"
          },
          "message": {
            "type": "string",
            "description": "Detailed error message"
          }
        }
      }
    }
  }
}
