{
  "openapi": "3.1.0",
  "info": {
    "title": "GistMag API",
    "description": "AI-powered alt text generation and text-to-speech API",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.gistmag.co.uk",
      "description": "GistMag API Production Server"
    }
  ],
  "paths": {
    "/generate": {
      "post": {
        "summary": "Generate Alt Text",
        "description": "Generate alt text for a single image",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltTextResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/atg/generate": {
      "post": {
        "summary": "Generate Alt Text (ATG)",
        "description": "Generate alt text using the ATG endpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltTextResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/batch": {
      "post": {
        "summary": "Batch Generate Alt Text",
        "description": "Generate alt text for multiple images in a single request",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              },
              "example": {
                "api_key": "atg_your_api_key_here",
                "images": [
                  {
                    "image_url": "https://example.com/image1.jpg",
                    "mode": "short"
                  },
                  {
                    "image_url": "https://example.com/image2.jpg",
                    "mode": "long"
                  },
                  {
                    "image_url": "https://example.com/image3.jpg",
                    "mode": "seo"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                },
                "example": {
                  "results": [
                    {
                      "alt_text": "A beautiful sunset over the ocean",
                      "short_alt_text": "Sunset over ocean",
                      "long_alt_text": "A beautiful sunset over the ocean with orange and pink hues reflecting on the water",
                      "seo_alt_text": "Sunset over ocean - beach photography - nature scene",
                      "image_url": "https://example.com/image1.jpg",
                      "generated_at": "2024-01-15T10:30:00Z"
                    },
                    {
                      "alt_text": "A detailed description of a mountain landscape",
                      "image_url": "https://example.com/image2.jpg",
                      "generated_at": "2024-01-15T10:30:05Z"
                    }
                  ],
                  "total": 2,
                  "successful": 2,
                  "failed": 0
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/usage": {
      "get": {
        "summary": "Get Usage Statistics (GET)",
        "description": "Get usage statistics using GET method",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your GistMag API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Get Usage Statistics (POST)",
        "description": "Get usage statistics using POST method",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["api_key"],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "Your GistMag API key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/verify-key": {
      "post": {
        "summary": "Verify API Key",
        "description": "Verify that an API key is valid",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["api_key"],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "The API key to verify"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyKeyResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GenerateRequest": {
        "type": "object",
        "required": ["image_url", "api_key"],
        "properties": {
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "The URL of the image to generate alt text for"
          },
          "api_key": {
            "type": "string",
            "description": "Your GistMag API key"
          },
          "mode": {
            "type": "string",
            "enum": ["short", "long", "seo"],
            "default": "short",
            "description": "The length of alt text to generate"
          },
          "language": {
            "type": "string",
            "default": "en",
            "description": "Language code (e.g., en, es, fr)"
          },
          "source": {
            "type": "string",
            "enum": ["web", "api", "extension", "wordpress", "shopify", "batch"],
            "default": "api",
            "description": "Source identifier for tracking"
          }
        }
      },
      "BatchRequest": {
        "type": "object",
        "required": ["images", "api_key"],
        "properties": {
          "images": {
            "type": "array",
            "minItems": 1,
            "maxItems": 500,
            "items": {
              "type": "object",
              "required": ["image_url"],
              "properties": {
                "image_url": {
                  "type": "string",
                  "format": "uri",
                  "description": "The URL of the image"
                },
                "mode": {
                  "type": "string",
                  "enum": ["short", "long", "seo"],
                  "default": "short",
                  "description": "The length of alt text for this specific image"
                },
                "language": {
                  "type": "string",
                  "default": "en",
                  "description": "Language code for this specific image"
                },
                "source": {
                  "type": "string",
                  "enum": ["web", "api", "extension", "wordpress", "shopify", "batch"],
                  "description": "Source identifier for tracking"
                }
              }
            }
          },
          "api_key": {
            "type": "string",
            "description": "Your GistMag API key"
          }
        }
      },
      "AltTextResponse": {
        "type": "object",
        "properties": {
          "alt_text": {
            "type": "string",
            "description": "The generated alt text based on the selected mode"
          },
          "short_alt_text": {
            "type": "string",
            "description": "Short version of alt text"
          },
          "long_alt_text": {
            "type": "string",
            "description": "Long version of alt text"
          },
          "seo_alt_text": {
            "type": "string",
            "description": "SEO-optimized version of alt text"
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "The original image URL"
          },
          "generated_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO timestamp of when the alt text was generated"
          }
        }
      },
      "BatchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "description": "Array of alt text responses for each image",
            "items": {
              "$ref": "#/components/schemas/AltTextResponse"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of images processed"
          },
          "successful": {
            "type": "integer",
            "description": "Number of successfully processed images"
          },
          "failed": {
            "type": "integer",
            "description": "Number of images that failed to process"
          }
        }
      },
      "UsageResponse": {
        "type": "object",
        "properties": {
          "total_requests": {
            "type": "integer",
            "description": "Total number of API requests made"
          },
          "total_credits_used": {
            "type": "integer",
            "description": "Total credits consumed"
          },
          "requests_this_month": {
            "type": "integer",
            "description": "Number of requests made this month"
          },
          "credits_used_this_month": {
            "type": "integer",
            "description": "Credits used this month"
          },
          "subscription_tier": {
            "type": "string",
            "description": "Your current subscription tier"
          },
          "credits_remaining": {
            "type": "integer",
            "description": "Credits remaining in your account"
          },
          "usage_by_endpoint": {
            "type": "object",
            "description": "Breakdown of usage by endpoint"
          }
        }
      },
      "VerifyKeyResponse": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean",
            "description": "Whether the API key is valid"
          },
          "subscription_tier": {
            "type": "string",
            "description": "The subscription tier associated with this API key"
          },
          "user_id": {
            "type": "string",
            "description": "The user ID associated with this API key"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error type"
          },
          "message": {
            "type": "string",
            "description": "Detailed error message"
          }
        }
      }
    }
  }
}
